* {
    box-sizing: border-box;
}
body {
margin: 0;
padding:0;

}
.box{
    width: 200px;
    height: 300px;
    <img src="mango.jpg" width:200px;>
}
h1{
    text-align: center;
    padding-top: 20px;
}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: green;
    color:white;
}
.brand-title{
    margin:0;
}
.navbar-links ul{
    margin:0;
    padding:0;
    display:flex;
    font-size:75%;
}
.navbar-links li {
    list-style:none;
}
.navbar-links li a{
    text-decoration:none;
    color:white;
    padding:1rem;
    display: block;

}
.navbar-links li:hover{
    background-color: aqua;
}
.toggle-button{
    position:absolute;
    top:.75rem;
    right:1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button.navbar{
    height: 3px;
    width:100%;
    background-color: white;
    border-radius: 10px;

}
@media screen and(max-width:200px) {
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        width:100%;
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width:100%;
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding:.5rem 1rem
    }
    .navbar-links.active {
        display:flex;
    }
}
form{
    padding-left: 600px;
}
form button{
    background-color: red;
    background: tomato;
}